.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.loginBlock a {
    color: white;
}